* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

a{
    color: white;
}
/* HEADER */
header{
    background-color: rgba(44,62,80,255);
}
.ms_height-100{
    min-height: 100px;
}
.ms_verde{
    background-color: rgba(26,188,156,255);
}
.ms_text-verde{
    color: rgba(26,188,156,255);
}
.img-avatar{
    width: 20%;
}
.ms_padding{
    padding-top: 120px;
    padding-bottom: 60px;
}
.ms_none{
    display: none;
}
.ms_text-big{
    font-size: 50px;
    font-weight: bold;
}
.ms_white{
    min-height: 100px;
}

.ms_barra{
    height: 6px;
    width: 100%;
    border-radius: 5px;  
}
.ms_text{
    text-align: justify;
}
.ms_light-grey{
    background-color: rgba(58,84,109,255);
    min-height: 100px;
}
.ms_dark-grey{
    background-color: rgba(44,62,80,255);
    min-height: 100px;
}

/* REGOLE HOVER */

.nav-hover:hover {
    color: rgba(26,188,156,255);
  }

.hover{
    position: relative;
}
.hover-add{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    margin: 0 12px;
    opacity: 0;
    background-color: rgba(26,188,156,255);
    cursor: pointer;
    
}
.hover-add:hover{
    opacity: 0.9;
}
.bi-plus-circle{
    font-size: 150px;
}

/* REGOLE RESPONSIVE */
@media screen and (min-width: 375px) and (max-width: 768px){
    .img-avatar{
        width: 50%;
    }
    .ms_display{
        display: none;
    }
    .ms_none{
        display: inline-block;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px){
    .img-avatar{
        width: 30%;
    }
}
@media screen and (min-width: 992px){
    .img-avatar{
        width: 20%;
    }
}