/* HEADER */
header{
    background-color: rgba(44,62,80,255);
    color: white;
}
.ms_verde{
    background-color: rgba(26,188,156,255);
    min-height: 400px;
}
.img-avatar{
    transform: scale(0.5);
}

@media screen and (min-width: 769px){
    .img-avatar{
        width: 40%;
    }
}

/* MAIN */
