/* HEADER */
header{
    background-color: rgba(44,62,80,255);
}
.menu-header{
    min-height: 100px;
}
.ms_verde{
    background-color: rgba(26,188,156,255);
}
.img-avatar{
    width: 20%;
}
.ms_padding-top{
    padding-top: 100px;
}
.ms_none{
    display: none;
}

.ms_white{
    min-height: 100px;
}
.ms_light-grey{
    background-color: rgba(58,84,109,255);
    min-height: 100px;
}
.ms_dark-grey{
    background-color: rgba(44,62,80,255);
    min-height: 100px;
}
@media screen and (min-width: 375px) and (max-width: 768px){
    .img-avatar{
        width: 50%;
    }
    .ms_display{
        display: none;
    }
    .ms_none{
        display: inline-block;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px){
    .img-avatar{
        width: 30%;
    }
}
@media screen and (min-width: 992px){
    .img-avatar{
        width: 20%;
    }
}